tr{
    background-color: rgb(243, 125, 8);
    text-align: center;
    font-family:"display";
    font-size: 15pt;
}
h3{
    color: rgb(48, 187, 209);
    font-size: 40px;
}
body{
    background-image: url(IMG/fundo.png);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: cover;
}
address{
    color: rgb(29, 147, 25);
}